.modal-body {
    .input-group {
        margin-top: 8px;
    }

    .form-label {
        font-weight: 600;
        margin-bottom: 4px;
    }

    .d-flex {
        padding: 8px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
            border-bottom: none;
        }
    }
}

